/*main.css */

/*

1. we can use flex model instead of float 

*/

/*main page header*/
body{
	background-color: #58D3F7;
}

.main_page_header{
	width:100%;
	height:40px;
	background-color:white;
}

/*main page nav*/

.main_page_nav{
	display:flex;
	justify-content:space-between;
}




/*main page main*/

/*main page main list*/

.main_page_team_list{
	width:1250px;
	height:100%;
	margin:0 auto;

}

/*main page list something */

.team_list_something{
	width:800px;
	height:100%;
	margin:0 auto;
	background-color:white;
	border-radius: 10px;
}

/*main page  list header */


.list_sequence_main{

}

.list_sequence_header > *{
	display:inline-block;
}

/*main page list progress bar */

.list_sequence_header_progress > *{
	display:inline-block;
}

.progress {
  width: 500px;
  height: 50px;
}
.progress-wrap {
	background: #ddd;
	overflow: hidden;
	position: relative;
}

.progress-bar {
	width:0px;
	background: #f80;
	position: absolute;
	left: 0;
	top: 0;
}

/* main page create list */
.team_list_create{
	cursor:pointer;
	display:flex;
	align-items: center;
	justify-content: center;
}


.team_list_create > div > p{
	text-align: center;
}


/* main page aside list */
.main_page_personal_list{
	position:absolute;
	display:none;
	top:40;
	left:0;
}



/* temp css*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
